# frontend/.env
# ── API ───────────────────────────────
VITE_API_URL=http://localhost:5000

# ── Firebase ──────────────────────────
# Get these from Firebase Console →
# Project Settings → Your Apps → Web App → Firebase SDK Config
VITE_FIREBASE_API_KEY=AIzaSyDNQxR9ARViIY1T3Cj97p8Y9AaV-HmhQKQ
VITE_FIREBASE_PROJECT_ID=scan-b7125
VITE_FIREBASE_MESSAGING_SENDER_ID=1036783505907
VITE_FIREBASE_APP_ID=1:1036783505907:web:731ce5b71ff89b97f70286
VITE_FIREBASE_VAPID_KEY=BH...  # From Cloud Messaging → Web Push certificates
